// breakpoints
$S:     480px;
$M:     768px;
$L:     1024px;
$XL:    1200px;

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == header_breakpoint {
    @media only screen and (min-width: $header_breakpoint) { @content; }
  }
}

// super light grid - it works with the .cd-container class inside style.scss
@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

// border radius
@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// clearfix
@mixin clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

//triangle
@mixin triangle($size, $color, $direction){
  border: $size solid transparent;

  @if($direction == 'top'){
    border-bottom-color: $color;
  }@else if($direction == 'bottom'){
    border-top-color: $color;
  }@else if($direction == 'left'){
    border-right-color: $color;
  }@else if($direction == 'right'){
    border-left-color: $color;
  }
}

@mixin btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

@mixin btn-basic{
  @include btn;
  font-size: 17px;
  font-weight: bold;

  padding: 15px 30px;
  color: #333;
  background: #FFF;
  border-radius: 2px;
}

@mixin col{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin hero_btn{
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  padding: 10px 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFF;
  background: #ff6d6d;
}