/*
 * Base
 * -------------
 */
*,
*::before,
*::after{
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'Exo', sans-serif;
  -webkit-overflow-scrolling: touch;
}

a,
a:hover,
a:active{
  text-decoration: none;
  color: inherit;
}