.about-section{
  position: relative;
}

.about__banner{
  display: none;


  @media only screen and (min-width: 767px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    background-image: url("../img/about.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
  }
}

.about-section__left{
  padding: 60px 15px 50px 15px;

  @include MQ(M){
    padding: 180px 0 160px 0;
  }
}


.about__subtitle{
  margin-bottom: 45px;
}

.about__content{
  color: #717171;
  margin-bottom: 40px;
}