.design-section{
  position: relative;
  padding: 45px 0 50px 0;


  @include MQ(M){
    padding: 135px 0 150px 0;

    background-image: url("../img/rect-red.jpg");
    background-size: cover;
    background-position: 5% 5%;
  }

  &::before{
    content: '';
    display: block;
  }
}

.design__thumb{
  margin-bottom: 30px;

  @include MQ(M){
    margin-bottom: 0;
  }
}

.design-section__subtitle{
  margin-bottom: 50px;
}

.design-section__content{
  color: #8e8e8e;
}