.feature-section{
  padding: 50px 0 60px 0;
  text-align: center;

  background-image: url("../img/feature-bg.jpg");
  background-size: cover;



  @include MQ(M){
    padding: 150px 0 180px 0;
  }
}

.feature-section__subtitle{
  margin-bottom: 90px;
}

.feature__thumb{
  margin-bottom: 35px;
}

.feature__title{
  font-size: 22px;
}

.feature__content{
  color: #939291;
}