.footer{
  position: relative;
  padding: 90px 0 100px 0;
  background-color: #ffffff;
  overflow: hidden;

  .list-inline li{
    margin-bottom: 10px;
  }

  .form-control{
    height: 50px;
    padding: 0 30px;
    border: 1px solid #b8b8bf;
  }

  .input-group-addon{
    color: #FFF;
    background: #ff6d6d;
  }
}

.footer_triangle{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 410px solid transparent;
  border-top-color: #ff8a8a;
  transform: translateX(50%);
}

.footer-item{
  margin-bottom: 30px;
}

.footer__title{
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 23px;
}

.social-list{
  margin-top: 15px;
  color: #cbcbcb;

  .list-inline-item{
    font-size: 20px;
    margin-right: 30px;
  }
}