$hero_play_size: 60px;
$hero_play_bg: #8185a3;
$hero_btn_bg: #ff6d6d;


.hero-section{
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

// 226px
.hero-section__container{
  width: 90%;
  max-width: 720px;
  text-align: center;
  padding: 50px 0 70px 0;


  @include MQ(M){
    padding: 150px 0 230px 0;
  }
}

.hero__title{
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 60px;


  @include MQ(M){
    font-size: 60px;
  }
}

.hero__play{
  display: block;
  width: $hero_play_size;
  height: $hero_play_size;
  line-height: $hero_play_size;

  text-align: center;
  border-radius: 50em;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  color: #FFF;
  background: $hero_play_bg;
}

.hero__btn{
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  padding: 10px 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFF;
  background: #ff6d6d;
}


.hero__muted{
  font-weight: 500;
  font-size: 14px;
  color: #777779;
}