.l-title{
  font-weight: 500;
  text-transform: uppercase;
  color: #ff6d6d;
  margin-bottom: 15px;
}

.l-subtitle{
  font-weight: 500;
  font-size: 30px;

   @include MQ(S){
     font-size: 40px;
   }
}

.reddish{
  color: #ff6d6d;
}