.new-feature{
  text-align: center;
  padding: 90px 0 80px 0;
  background-color: #323969;
}


.new-feature__subtitle{
  color: #FFF;
  margin-bottom: 100px;
}

.new-feature__form{
  margin-bottom: 50px;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    color:  #FFF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #FFF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #FFF;
  }

  .form-control{
    width: 100%;
    height: 50px;
    padding: 0 30px;
    border: 1px solid #FFF;
    border-radius: 3px;
    background: #464c77;
  }

  .form-group{
    margin-bottom: 30px;

    @include MQ(M){
      margin-bottom: auto;
    }
  }
}

.new-feature__btn-wrapper{
  position: relative;
  display: inline-block;
  margin-top: 50px;

  @include MQ(M){
    margin-top: 0;
  }
}

.new-feature__floating{
  position: absolute;
  left: 30px;
  bottom: 170%;
  color: #f6f5f3;


  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 90%;
    width: 50px;
    height: 50px;
    background: url("../img/arrow.png") no-repeat;
  }
}

.new-feature__btn{
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 70px;
  border-radius: 3px;
  color: #FFF;
  background-color: #ff6d6d;
  box-shadow: 0 2px 10px rgba(#000, .2);
}

.new-feature__muted{
  color: #a8aabc;
}