$team_thumb_size: 80px;

.team-section{
  padding: 110px 0 100px 0;
  background-color: #000;
  background-image: url("../img/team-bg1.png");
  background-size: cover;
  background-position: center;
}

.team-section__row{
  margin-bottom: 80px;
}

.team{
  text-align: center;
  margin-bottom: 30px;
}

.team__name{
  color: #FFF;
}

.team__thumb{
  display: inline-block;
  width: $team_thumb_size;
  height: $team_thumb_size;
  border: 2px solid #000000;
  border-radius: 3px;
  background: #4e4e5e;
}

.team__position{
  color: #c4595b;
}

.team__content{
  color: #8c8d91;
}


/* partner */
.partner{
  @include col;
  text-align: center;
  margin-bottom: 30px;

  @include MQ(S){
    @include column(.5);
  }

  @include MQ(M){
    @include column(.33)
  }

  @include MQ(L){
    @include column(.20)
  }
}